body{
    border-collapse: collapse;
    background-color: #F4F4F4;
}

h1{
    text-align: center;
}

th {
   
    text-align: center;
    background-color: blue;
    color: #FFFFFF;
}

table{
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}
.text{
    background-color: #FFFFFF;
}

td{
    text-align: center;
}